#HEADER_INS a {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #0065fc;
}

#HEADER_HEB a {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #0065fc;
}

#HEADER_ACT a {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: black;
}

h1,
h3 {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}

p {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    color: black;
}

a {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: black;
}

ul a {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    color: black;
}
/*----------------------------------------------------------------------------------------------------*/
/*Effet d'ombre sur les vignettes*/
/*----------------------------------------------------------------------------------------------------*/

#hebergements a,
#populaires a {
  box-shadow: 1px 1px 12px rgba(194, 194, 194, 0.397);
}

.Activity_border {
  box-shadow: 1px 1px 12px rgba(194, 194, 194, 0.397);
  overflow: hidden;
}
.etoile_bleu {
    color: #0065fc;
    font-weight: 700;
    font-size: 1.5em;
  }
  
  .etoile_grise {
    color: #f2f2f2;
    font-weight: 700;
    font-size: 1.5em;
  }

  a {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    font-family: "Raleway", sans-serif;
    color: black;
  }

}

