@media screen and (max-width: 1270px) {
  #en_tete {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  body {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    justify-content: center;
  }
  #bloc_page {
    width: 100%;
    margin: 0;
  }

  /*----------------------------------------------------------------------------------------------------*/
  /*accomodation ARTICLE*/
  /*----------------------------------------------------------------------------------------------------*/

  #logo {
    width: 100px;
    height: auto;
  }

  #HEADER_inscription {
    display: flex;
    flex-wrap: wrap;
  }

  #Header_LOGO {
    width: 50%;
  }

  #HEADER_HEB {
    padding-bottom: 2em;
    border-top: 0;
    line-height: 2em;
    border-bottom: 0.4em solid #0065fc;
    margin: 0;
  }

  #HEADER_ACT {
    padding-bottom: 2em;
    border-top: 0;
    line-height: 2em;
    border-bottom: 0.4em solid #f2f2f2;
    margin: 0;
    border-top: 0;
  }

  #HEADER_ACT:hover {
    border-top: 0;
    border-bottom: 0.4em solid #0065fc;
    transition-duration: 0.4s;
  }
  #HEADER_INS:hover {
    padding: 2em;
    border-top: 0;

    border-top: 0.4em solid transparent;
    line-height: 2em;
    transition-duration: 0.4s;
  }
  /*----------------------------------------------------------------------------------------------------*/
  /*accomodation Barre de recherche*/
  /*----------------------------------------------------------------------------------------------------*/
  #Search_bar {
    margin: 2em;
  }
  #FILTER {
    margin: 2em;
  }
  /*----------------------------------------------------------------------------------------------------*/
  /*accomodation ARTICLE*/
  /*----------------------------------------------------------------------------------------------------*/

  #Header_Grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0;
    grid-auto-rows: minmax(100px, auto);
    text-align: center;
  }
  #HEADER_LOGO {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    margin-left: 1em;
  }
  #HEADER_HEB {
    grid-column: 1;
    grid-row: 2;
  }
  #HEADER_ACT {
    grid-column: 2;
    grid-row: 2;
  }
  #HEADER_INS {
    grid-column: 2;
    grid-row: 1;
    text-align: end;
  }

  /*----------------------------------------------------------------------------------------------------*/
  /*accomodation ARTICLE*/
  /*----------------------------------------------------------------------------------------------------*/
  #accommodation {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
  }
  #accommodation article {
    height: fit-content;
    width: 100%;
    background-color: white;
    margin: 0;
    padding: 0;
  }
  #hebergements {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
  }

  #hebergements .Description {
    display: flex;
    flex-direction: column;

    border: 4px solid white;
    border-radius: 30px;
    background: white;
    overflow: hidden;

    height: 18em;
    width: 95%;
    padding: 0;
    border-radius: 30px;
    display: block;
    transition-duration: 1s;
  }
  #hebergements .IMG_style {
    height: 7rem;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    height: 10em;
  }

  /*----------------------------------------------------------------------------------------------------*/
  /*accomodation ASIDE*/
  /*----------------------------------------------------------------------------------------------------*/
  aside {
    margin: 0;
    padding: 0;
  }

  #accommodation aside {
    height: fit-content;
    width: 100%;
    border-radius: 0;
  }
  #populaires {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  #populaires .Description {
    height: 15em;
    width: 95%;
    transition-duration: 1s;
  }
  #populaires .IMG_style {
    object-fit: cover;

    min-width: 15em;
    height: 100%;
    object-fit: cover;
  }
  #FILTER {
    display: flex;
    flex-direction: column;
  }
  #FILTER_ICON {
    display: flex;
    flex-wrap: wrap;
  }

  #LePied {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #activite {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .vignette_row {
    display: flex;
    flex-direction: column;
  }
  /*----------------------------------------------------------------------------------------------------*/
  /*ACTIVITY*/
  /*----------------------------------------------------------------------------------------------------*/
  .petitconteneur a {
    height: 18em;
    margin: 10px;
  }
  .grandconteneur a {
    height: 18em;
    margin: 10px;
  }

  #ACTIVITY img {
    height: 14em;
    width: 100%;
    object-fit: cover;
  }

  /*----------------------------------------------------------------------------------------------------*/
  /*FOOTER*/
  /*----------------------------------------------------------------------------------------------------*/
  #LePied {
    display: flex;
    flex-direction: column;
    text-align: left;

    margin-left: 0;
    margin-right: 0;
  }

  /*----------------------------------------------------------------------------------------------------*/
  /*BOUTON*/
  /*----------------------------------------------------------------------------------------------------*/

  .search_icon {
    display: block;
    background-color: #0065fc; /*  */
    border: none;
    color: white;
    width: 4em;
    height: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    border-radius: 0.8em 0 0 0.8em;
  }

  .search_text {
    display: none;
    background-color: inherit;
  }

  #Search {
    display: flex;

    background-color: white;
    width: 20em;
    height: 50px;
    border: 2px solid #f2f2f2;
    overflow: hidden;
    border-radius: 1em;
  }
}
