@media screen and (max-width: 1024px) {
  #en_tete {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #bloc_page {
    width: 100%;
    margin: 0 auto;
  }

  body {
    margin: 0;
  }

  /*----------------------------------------------------------------------------------------------------*/
  /* HEADER*/
  /*----------------------------------------------------------------------------------------------------*/
  #Header_Grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0;
    grid-auto-rows: minmax(100px, auto);
    text-align: center;
  }

  #HEADER_LOGO {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    margin-left: 1em;
  }

  #HEADER_HEB {
    padding-bottom: 2em;
    border-top: 0;
    line-height: 2em;
    border-bottom: 0.4em solid #0065fc;
    margin: 0;
  }

  #HEADER_ACT {
    padding-bottom: 2em;
    border-top: 0;
    line-height: 2em;
    border-bottom: 0.4em solid #f2f2f2;
    margin: 0;
    border-top: 0;
  }

  #HEADER_ACT:hover {
    border-top: 0;
    border-bottom: 0.4em solid #0065fc;
    transition-duration: 0.4s;
  }

  #HEADER_INS:hover {
    padding: 2em;
    border-top: 0;

    border-top: 0.4em solid transparent;
    line-height: 2em;
    transition-duration: 0.4s;
  }

  #HEADER_INS {
    grid-column: 2;
    grid-row: 1;
    text-align: end;
  }

  /*----------------------------------------------------------------------------------------------------*/
  /* HEADER_GRID*/
  /*----------------------------------------------------------------------------------------------------*/

  /*----------------------------------------------------------------------------------------------------*/
  /*Barre de recherche*/
  /*----------------------------------------------------------------------------------------------------*/
  .search_icon {
    display: block;
    background-color: #0065fc; /*  */
    border: none;
    color: white;
    width: 4.5em;
    height: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    border-radius: 0.8em 0 0 0.8em;
  }

  .search_text {
    display: none;
    background-color: inherit;
  }

  #Search {
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    height: 50px;
    border: 2px solid #f2f2f2;
    overflow: hidden;
    border-radius: 1em;
  }

  #Search_bar {
    margin: 1em;
  }

  /*----------------------------------------------------------------------------------------------------*/
  /* FILTRES*/
  /*----------------------------------------------------------------------------------------------------*/
  #FILTER {
    display: flex;
    flex-direction: column;
  }

  #FILTER_ICON {
    display: flex;
    flex-wrap: wrap;
  }

  #FILTER {
    margin: 1em;
  }

  /*----------------------------------------------------------------------------------------------------*/
  /*accomodation ARTICLE*/
  /*----------------------------------------------------------------------------------------------------*/
  #accommodation {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
  }

  #accommodation article {
    height: fit-content;
    width: 100%;
    background-color: white;
    margin: 0;
    padding: 0;
  }

  #hebergements {
    display: flex;
    flex-direction: row;
    width: 96%;
  }

  .vignette_row {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  #hebergements .Description {
    display: flex;
    flex-direction: column;

    border: 4px solid white;
    border-radius: 30px;
    background: white;
    overflow: hidden;
    margin-left: 1em;
    margin-right: 1em;
    height: 15em;
    width: 90%;
    padding: 0;
    border-radius: 30px;
    display: block;
    transition-duration: 1s;
  }
<<<<<<< HEAD
  article h1 {
    margin-left: 1em;
  }
  .more {
    margin-left: 0.5em;
  }
=======

>>>>>>> dev
  /*----------------------------------------------------------------------------------------------------*/
  /*accomodation ASIDE*/
  /*----------------------------------------------------------------------------------------------------*/
  aside {
    margin: 0;
    padding: 0;
  }

  #accommodation aside {
    height: fit-content;
    width: 100%;
    border-radius: 0;
  }

  #populaires {
    width: 100%;
  }

  #populaires .Description {
    width: 95%;
    height: 12em;
  }

  #populaires .IMG_style {
    object-fit: cover;

    min-width: 18em;
    height: 100%;
    object-fit: cover;
  }
<<<<<<< HEAD
  aside h1 {
    margin-left: 1em;
  }
=======

>>>>>>> dev
  /*----------------------------------------------------------------------------------------------------*/
  /*ACTIVITY*/
  /*----------------------------------------------------------------------------------------------------*/
  #activite {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .petitconteneur {
    display: flex;
    flex-direction: column;
  }

  .grandconteneur {
    display: flex;
    flex-direction: column;
  }

  .ACT_conteneur {
    display: flex;
    flex-direction: row;
  }

  /*----------------------------------------------------------------------------------------------------*/
  /*FOOTER*/
  /*----------------------------------------------------------------------------------------------------*/

  #LePied {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .pied {
    margin-right: 1.5em;
  }
}
